# Virtual environment
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# PyInstaller
*.spec

# Temp files created by PhotoSort during video playback
photosort_*/

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/
*.swp
